*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: black;
	font-family: verdana;
}
#main{
	width: 100%;
	height: 600px;
	margin-top: 150px;
}
#head{
	width: 100%;
	height: 100px;
	background-color: white;
}
#left{
	width: 50%;
	height: 100px;
	color: #262671;
	padding: 15px 15px 15px 215px;
	float: left;
	box-sizing: border-box;
}
#left h1{
	font-size: 40px;
}
#left img{
	width: 60px;
	height: 60px;
}

#image{
	float: left;

}
#prom{
	font-size: 14px;
}
#right{
	float: right;
	width: 50%;
	box-sizing: border-box;
	padding-right: 160px;

}
#right ul {
	float: right;
}
#right ul li{
	float: left;
	list-style-type: none;
	padding: 5px 25px 5px 25px;
	font-size: 12px;
}
#right ul li img {
	width: 16px;
	height: 12px;
}
#buttons{
	float: right;
	padding-right: 180px;
}
#sign{
	float: left;
	background-color: white;
	padding: 10px 30px;
	border-radius: 5px;
	margin: 5px;
}
#join{
	float: left;
	background-color: white;
	padding: 10px 20px;
	border-radius: 5px;
	border-color: #72d2bc;
	margin: 5px;
	color: #72d2bc;
}
#middle{
	width: 100%;
	height: 130px;
	background-color: #0b50a7;
	box-sizing: border-box;
}
#para1{
	width: 50%;
	float: left;
	color: white;
	padding: 15px 0px 10px 200px;
	box-sizing: border-box;
}
#para2{
	width: 50%;
	float: right;
	text-align: right;
	color: white;
	padding: 16px 180px 13px 0px;
	box-sizing: border-box;
	font-size: 12px;

	
}
#middleText input{
	width: 350px;
	padding: 15px;
	border-radius: 5px;
}
#email{
	margin-left: 200px;
	width: 400px;
	float: left;
}
#password{
	width: 400px;
	margin-left: 10px;
	float: left;
}
#middleText button{
	width: 160px;
	padding: 15px;
	background-color: #72d2bc;
	border-radius: 5px;
	color: white;
}
#forgot{
	color: white;
	text-align: right;
	padding:10px 180px 0px 0px;
	font-size: 14px;

}
#last{
	width: 100%;
	height: 200px;
	background:linear-gradient(to right, #93b593,#f3c68f);
}

#content{
	font-size: 40px;
	text-align: center;
	color: white;
	padding: 15px;
	padding-top: 75px;
}
#rates{
	font-size: 20px;
	text-align: center;
	color: white;
}
.clear{
	clear: both;
}